main{
	background-color: #000000;
	border-radius: 6px;
	width: 655px;
	height: 250px;
	font-family: Calibri;
	padding: 25px;
}

h1{
	color: #F2C106;
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
}

iframe{
	overflow: hidden;
	border: 2px solid #F2C106;
	width: 267px;
	height: 200px;
	margin-right: 20px;
}

ul{
	display: inline-block;
	vertical-align: top;
	font-size: 33px;
	font-style: italic;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}